@model DNXTest.Models.ContactDharmaExperience
@{
}
<div class="form-group">
    <label class="" for="FollowerOfReligionWhich">Follower of any religion? Which?</label>
    <div class="">
        <textarea class="form-control text-box single-line" id="FollowerOfReligionWhich" name="ContactDharmaExperience[FollowerOfReligionWhich]" type="text" value=""></textarea>
        <span class="field-validation-valid text-danger" data-valmsg-for="FollowerOfReligionWhich" data-valmsg-replace="true"></span>
    </div>
</div>
<div class="form-group">
    <label class="" for="DescriptionOfBuddhistBackgroundOfAnyTradition">Description of Buddhist background of any tradition</label>
    <div class="">
        <textarea class="form-control text-box single-line" id="DescriptionOfBuddhistBackgroundOfAnyTradition" name="ContactDharmaExperience[DescriptionOfBuddhistBackgroundOfAnyTradition]" type="text" value=""></textarea>
        <span class="field-validation-valid text-danger" data-valmsg-for="DescriptionOfBuddhistBackgroundOfAnyTradition" data-valmsg-replace="true"></span>
    </div>
</div>
<div class="form-group">
    <label class="" for="InterestInFollowingTeachings">Are you interested in following the teachings?</label>
    <div class="">
        <input class="form-control text-box single-line" id="InterestInFollowingTeachings" name="ContactDharmaExperience[InterestInFollowingTeachings]" type="text" value="" />
        <span class="field-validation-valid text-danger" data-valmsg-for="InterestInFollowingTeachings" data-valmsg-replace="true"></span>
    </div>
</div>