@model DNXTest.Models.ContactDharmaExperience
@{
    string textAreaHTML__WithValue = "<textarea class='form-control text-box' name='ContactDharmaExperience[{0}]' rows='5' />{1}</textarea>";
    string inputFieldHTML__WithValue = "<input class='form-control text-box single-line' data-val='true' data-val-length='The field {0} must be a string with a maximum length of 50.' data-val-length-max='50' id='' name='ContactDharmaExperience[{0}]' type='text' value='{1}' />";
}
<div class="form-group">
    <label class="" for="FollowerOfReligionWhich">Follower of any religion? Which?</label>
    <div class="">
        @Html.Raw(string.Format(textAreaHTML__WithValue, "FollowerOfReligionWhich", Model.FollowerOfReligionWhich))
    </div>
</div>
<div class="form-group">
    <label class="" for="DescriptionOfBuddhistBackgroundOfAnyTradition">Description of Buddhist background of any tradition</label>
    <div class="">
        @Html.Raw(string.Format(textAreaHTML__WithValue, "DescriptionOfBuddhistBackgroundOfAnyTradition", Model.DescriptionOfBuddhistBackgroundOfAnyTradition))
    </div>
</div>
<div class="form-group">
    <label class="" for="InterestInFollowingTeachings">Are you interested in following the teachings?</label>
    <div class="">
        @Html.Raw(string.Format(inputFieldHTML__WithValue, "InterestInFollowingTeachings", Model.InterestInFollowingTeachings))
    </div>
</div>