@model DNXTest.Models.ContactIdentification
@{
}
<div class="col-sm-6">
    <div class="form-group">
        <label class="" for="IdOrPassport">Id or Passport</label>
        <div class="">
            <input class="form-control text-box single-line" data-val="true" data-val-length="The field IdOrPassport must be a string with a maximum length of 100." data-val-length-max="100" id="IdOrPassport" name="ContactIdentification[IdOrPassport]" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="IdOrPassport" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="" for="IdOrPassportIssueDate">Id or Passport issue date</label>
        <div class="">
            <input class="form-control text-box single-line" data-val="true" data-val-date="The field IdOrPassportIssueDate must be a date." data-val-required="The IdOrPassportIssueDate field is required." id="IdOrPassportIssueDate" name="ContactIdentification[IdOrPassportIssueDate]" type="date" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="IdOrPassportIssueDate" data-valmsg-replace="true"></span>
        </div>
    </div>

</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="" for="IdOrPassportExpiryDate">Id or Passport expiry date</label>
        <div class="">
            <input class="form-control text-box single-line" data-val="true" data-val-date="The field IdOrPassportExpiryDate must be a date." data-val-required="The IdOrPassportExpiryDate field is required." id="IdOrPassportExpiryDate" name="ContactIdentification[IdOrPassportExpiryDate]" type="date" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="IdOrPassportExpiryDate" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="" for="FiscalId">Fiscal Id ( donation tax reduction receipts )</label>
        <div class="">
            <input class="form-control text-box single-line" data-val="true" data-val-length="The field FiscalId must be a string with a maximum length of 100." data-val-length-max="100" id="FiscalId" name="ContactIdentification[FiscalId]" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="FiscalId" data-valmsg-replace="true"></span>
        </div>
    </div>
</div>