@model DNXTest.Models.ContactEducation
@{
}
<div class="form-group">
    <label class="" for="DetailsOfUniversityPostGraduateOrTechnicalStudies">Details of university, post graduate or technical studies</label>
    <div class="">
        <textarea class="form-control text-box single-line" id="DetailsOfUniversityPostGraduateOrTechnicalStudies" name="ContactEducation[DetailsOfUniversityPostGraduateOrTechnicalStudies]" type="text" value=""></textarea>
    </div>
</div>
<div class="form-group">
    <label class="" for="OtherEducationalExperience">Other educational experience</label>
    <div class="">
        <textarea class="form-control text-box single-line" id="OtherEducationalExperience" name="ContactEducation[OtherEducationalExperience]" type="text" value=""></textarea>
    </div>
</div>