@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="searchControl" class="container paddingTop10 fade in">
    <h3>Detailed Search</h3>
    <div class="row">
        <div class="col-sm-5">
            <div class="divScrollSearch">
                <div id="searchTree">
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div id="searchControls">

            </div>
        </div>
    </div>
</div>

